<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverHome()">Volver</ion-button>
    </ion-buttons>
    <ion-title>Nueva Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">

    <ion-img class="centered-image" [src]="capturedImage" *ngIf="capturedImage"></ion-img>

    <!-- Formulario para los datos -->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de Animal</ion-label>
        <ion-select [(ngModel)]="tipo">
          <ion-select-option value="Perro">Perro</ion-select-option>
          <ion-select-option value="Gato">Gato</ion-select-option>
          <ion-select-option value="Conejo">Conejo</ion-select-option>
          <ion-select-option value="Roedor">Roedor</ion-select-option>
          <ion-select-option value="Ave">Ave</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción Física</ion-label>
        <ion-textarea [(ngModel)]="descripcionFisica"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Personalidad</ion-label>
        <ion-textarea [(ngModel)]="personalidad"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input [(ngModel)]="edad" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo de Contacto</ion-label>
        <ion-input [(ngModel)]="correo" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-select [(ngModel)]="comuna">
          <ion-select-option value="Providencia">Providencia</ion-select-option>
          <ion-select-option value="Las Condes">Las Condes</ion-select-option>
          <ion-select-option value="Ñuñoa">Ñuñoa</ion-select-option>
          <ion-select-option value="Santiago Centro">Santiago Centro</ion-select-option>
          <ion-select-option value="Peñalolén">Peñalolén</ion-select-option>
          <ion-select-option value="Macul">Macul</ion-select-option>
          <ion-select-option value="La Florida">La Florida</ion-select-option>
          <ion-select-option value="Maipú">Maipú</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="enviarMascota()">Enviar Mascota</ion-button>
  </div>
</ion-content>
