<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-background">
  <!-- Avatar del usuario -->
  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img src="assets/avatar-placeholder.png" />
    </ion-avatar>
    <ion-text class="username">findPet</ion-text>
    <div class="divider"></div>
    <ion-text class="email">findPet&#64;adopta.com</ion-text>
  </div>

  <!-- Barra separadora -->
  <div class="divider"></div>

  <!-- Opciones del perfil -->
  <ion-list lines="none" class="profile-options">
    <ion-item button>
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>Mis Favoritos</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
