.mascota-card {
    width: 70%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #f0f0f0;

    &:hover {
        transform: scale(1.05);
    }

    .card-title {
        text-align: center;
        color: #0d0d0b;
        padding: 10px;
        font-weight: bold;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        text-shadow:
            1px 1px 0 #ffa500,
            -1px -1px 0 #020202,
            1px -1px 0 #330d9a,
            -1px 1px 0 #000000;
    }

    .card-subtitle {
        color: #011070;
        margin: 5px 0;
    }

    .card-content {
        color: #000000;

        .button-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15px;

            ion-button {
                --border-radius: 20px;
            }
        }
    }

    .card-image {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
        /* Ajusta la imagen sin distorsión */
    }
}

@media (max-width: 768px) {
    .mascota-card {
        width: 90%;
        margin: 15px auto;
    }
}