<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="tab-adopcion">
      <ion-icon name="paw"></ion-icon>
      Adopta
    </ion-tab-button>
    <ion-tab-button (click)="openCamera()">
      <ion-icon name="camera"></ion-icon>
      Camara
    </ion-tab-button>
    <ion-tab-button tab="tab-nosotros">
      <ion-icon name="heart"></ion-icon>
      Nosotros
    </ion-tab-button>
    <ion-tab-button tab="tab-perfil">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
